{% extends 'base.html.twig' %}

{% block title %}Carrito{% endblock %}

{% block contenido %}
    
    {% if carrito is empty %}
        <p>Cesta vacía</p>
    {% else %}
        <table border="1">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                {% for item in carrito %}
                <tr>
                    <td>{{ item.producto.nombre }}</td>
                    <td>{{ item.producto.precio }}</td>
                    <td>{{ item.unidades }}</td>
                    <td>
                        <form action="{{ path('eliminar',{'producto_id':item.producto.id }) }}" method = "POST">
                            <input type="text" value="1" name='unidades'>
                            <input type="submit" value="Eliminar" name="eliminarProducto">
                            <input type="hidden" value="{{ item.producto.id }}" name='codProducto'>
                      </form>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="2"><strong>Total</strong></td>
                    <td>{{ total }}</td>
                    <td>
                        <form action="{{ path('pedido') }}" method="POST">
                            <input type="hidden" value="{{ total }}" name="total">
                           <input type="submit" value="Pagar" name="pagarCarrito"> 
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    {% endif %}
    
{% endblock %}